        <nav>
			<table>
			<td>
            <%= link_to 'Show all Episodes', episodes_path %>
            </td>
            <td>
            <%= link_to 'Add New Episode', new_episode_path %>
			</td>
            </tr>
            </table>
        </nav>